# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# components/Add.jsx
# pages/cart.jsx
# pages/index.js
# pages/admin/index.jsx
# pages/admin/login.jsx
# pages/orders/[id].jsx
# pages/product/[id].jsx

# pages/product/\[id\].jsx
# pages/orders/\[id\].jsx
# pages/index.js
# components/Add.jsx
# pages/admin/index.jsx
# pages/admin/login.jsx
